* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --cyan: #cffafe;
  --dark-teal: #164e63;
  --dark-gray: #64748B;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  background-color: var(--cyan);
}

#questions {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
  padding: 5rem 2rem;
  max-width: 800px;
}

#questions .accordion {
  background-color: #fff;
  width: 100%;
  padding: 3rem 2rem;
  border-radius: 5px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}
#questions .accordion h1 {
  text-align: center;
  color: var(--dark-teal);
  font-size: 50px;
  font-weight: 400;
}

#questions .accordion .accordion-item {
  padding: 15px 20px;
  margin: 30px 0;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}

#questions .accordion .accordion-item .accordion-header {
  display: flex;
  justify-content: space-between;
  position: relative;  
  cursor: pointer;
}

#questions .accordion .accordion-item .accordion-content {
  margin-top: 25px;
  line-height: 1.6;
  font-size: 16px;
  color: var(--dark-gray);
  display: none;
}

#questions .accordion .accordion-item .accordion-header h2 {
  font-weight: 400;
  font-size: 22px;
}

#questions .accordion .accordion-item .accordion-header .btn {
  border: none;
  background-color: var(--dark-teal);
  color: #fff;
  border-radius: 50%;
  font-size: 20px;
  width: 25px;
  height: 25px;
  position: absolute; 
  top: 0;
  right: 0;
  cursor: pointer;
}

#questions .accordion .accordion-content.active {
  display: block ;
}